<!doctype html>
<html>
    <head>
        <title>YNAB Browser Edition</title>
        <link rel="stylesheet" type="text/css" href="ynab.css"/>
    </head>
    
    <body>
        <script type="text/x-handlebars" data-template-name="entry">
            <section id="sidebar">
                <section id="pages">
                    <ul>
                        <li>Budget</li>
                        <li>Reports</li>
                        <li>All Accounts</li>
                    </ul>
                </section>
                <section id="accounts">
                    <ul>
                        <li>Current Account</li>
                        <li>Savings Account</li>
                    </ul>
                </section>
            </section>

            <section id="view">
                <table>
                    <tr>
                        <th class="select-box"><input type="checkbox"/></th>
                        <th class="date">Date</th>
                        <th class="payee">Payee</th>
                        <th class="category">Category</th>
                        <th class="memo">Memo</th>
                        <th class="outflow">Outflow</th>
                        <th class="inflow">Inflow</th>
                        <th class="balance">Balance</th>
                    </tr>
                    {{#each controller}}
                    <tr>
                        <td class="select-box"><input type="checkbox"/></td>
                        <td class="date">{{date}}</td>
                        <td class="payee">{{payee}}</td>
                        <td class="category">{{category}}</td>
                        <td class="memo">{{memo}}</td>
                        <td class="outflow decimal">{{#if outflow}}&pound;{{outflow}}{{/if}}</td>
                        <td class="inflow decimal">{{#if inflow}}&pound;{{inflow}}{{/if}}</td>
                        <td class="balance decimal">{{#if balance}}&pound;{{balance}}{{/if}}</td>
                    </tr>
                    {{/each}}
                    <tr id="new-entry">
                        <td class="select-box"></td>
                        <td class="date">{{view Ember.TextField id="new-date" class="date" placeholder="date?" valueBinding="newDate" action="createEntry"}}</td>
                        <td class="payee">{{view Ember.TextField id="new-payee" class="payee" placeholder="payee?" valueBinding="newPayee" action="createEntry"}}</td>
                        <td class="category">{{view Ember.TextField id="new-category" class="category" placeholder="category?" valueBinding="newCategory" action="createEntry"}}</td>
                        <td class="memo">{{view Ember.TextField id="new-memo" class="memo" placeholder="memo?" valueBinding="newMemo" action="createEntry"}}</td>
                        <td class="outflow decimal">{{view Ember.TextField id="new-outflow" class="outflow" placeholder="outflow?" valueBinding="newOutflow" action="createEntry"}}</td>
                        <td class="inflow decimal">{{view Ember.TextField id="new-inflow" class="inflow" placeholder="inflow?" valueBinding="newInflow" action="createEntry"}}</td>
                        <td class="balance decimal"></td>
                    </tr>
                    
                </table>
            </section>
        </script>
        <script src="js/libs/jquery-1.10.1.min.js"></script>
        <script src="js/libs/handlebars-1.0.0-rc.4.js"></script>
        <script src="js/libs/ember-1.0.0-rc.5.js"></script>
        <script src="js/libs/ember-data.prod.js"></script>

        <script src="js/application.js"></script>
        <script src="js/router.js"></script>

        <script src="js/models/store.js"></script>
        <script src="js/models/entry.js"></script>

        <script src="js/controllers/entry_controller.js"></script>
    </body>
</html>
