
body {
    background:  #2F95C6;
    font-family: sans-serif;
}

#sidebar {
    position: absolute;
    left: 5px;
    width: 250px;
    color: white;
    font-weight: bold;
}

#view {
    position: absolute;
    right: 5px;
    left: 255px;
    padding: 10px;
}

#accounts, #pages {
    background: #1b6f9d;
    padding: 10px;
    margin-bottom: 10px;
}

#accounts ul, #pages ul {
    padding: 0px;
    margin: 0px;
}

#accounts li, #pages li {
    list-style-type: none;
    list-style-position: inside;
}

#view table {
    border-collapse: collapse;
    width: 90%;
    background: white;
}

th {
    background: #5d6970;
    color: white;
    border: 1px solid black;
}

td {
    padding: 0px 5px;
}

tr .even {
    color: #edf6fb;
}

.select-box {
    width: 1em;
}

.date {
    width: 8em;
}

.payee {
    width: 20em;
}

.category {
    width: 15em;
}

.memo {
}

.outflow {
    width: 7em;
}

.inflow {
    width: 7em;
}

.balance {
    width: 7em;
}

.decimal {
    text-align: right;
}
