<!doctype html>
<html ng-app>
    <head>
        <title>YNAB Browser Edition</title>
        <link rel="stylesheet" type="text/css" href="ynab.css"/>
        <script src="js/libs/angular.min.js"></script>
        <script src="js/entry.js"></script>
    </head>
    
    <body>
        <section id="sidebar">
            <section id="pages">
                <ul>
                    <li>Budget</li>
                    <li>Reports</li>
                    <li>All Accounts</li>
                </ul>
            </section>
            <section id="accounts">
                <ul>
                    <li>Current Account</li>
                    <li>Savings Account</li>
                </ul>
            </section>
        </section>

        <section id="view" ng-controller="EntryCtrl">
            <form ng-submit="addEntry()">
            <table>
                <tr>
                    <th class="select-box"><input type="checkbox"/></th>
                    <th class="date">Date</th>
                    <th class="payee">Payee</th>
                    <th class="category">Category</th>
                    <th class="memo">Memo</th>
                    <th class="outflow">Outflow</th>
                    <th class="inflow">Inflow</th>
                    <th class="balance">Balance</th>
                </tr>
                <tr ng-repeat="entry in entries">
                    <td class="select-box"><input type="checkbox"/></td>
                    <td class="date">{{entry.date}}</td>
                    <td class="payee">{{entry.payee}}</td>
                    <td class="category">{{entry.category}}</td>
                    <td class="memo">{{entry.memo}}</td>
                    <td class="outflow decimal">{{entry.outflow | currency}}</td>
                    <td class="inflow decimal">{{entry.inflow | currency}}</td>
                    <td class="balance decimal">{{entry.balance | currency}}</td>
                </tr>
                <tr id="new-entry">
                    <td class="select-box"></td>
                    <td class="date">
                     <input type="text" ng-model="newDate"  class="date"
                        placeholder="Date">
                    </td>
                    <td class="payee">
                     <input type="text" ng-model="newPayee"  class="payee"
                        placeholder="Payee">
                    </td>
                    <td class="category">
                     <input type="text" ng-model="newCategory"  class="category"
                        placeholder="Category">
                    </td>
                    <td class="memo">
                     <input type="text" ng-model="newMemo"  class="memo"
                        placeholder="Memo">
                    </td>
                    <td class="outflow decimal">
                     <input type="text" ng-model="newOutflow"  class="outflow"
                        placeholder="Outflow">
                    </td>
                    <td class="inflow decimal">
                     <input type="text" ng-model="newInflow"  class="inflow"
                        placeholder="Inflow">
                    </td>
                    <td class="balance decimal">
                        <input type="submit" text="Save" class="balance"/>
                    </td>
                </tr>
            </table>
            </form>
        </section>
    </body>
</html>
